@import "../../styles/responsive";

.messages {
    width: 100%;
    height: 93%;
    @media #{$mobile_device} {
        height: 86vh;
    }

    &_container {
        display: flex;
        padding: 0 5%;
        margin-top: 20px;
        margin-bottom: 20px;
        &_sent {
            display: flex;
            align-items: center;
            font-family: Helvetica;
            color: #828282;
            letter-spacing: 0.3px;
        }
        &_box {
            background: #f3f3f3;
            border-radius: 20px;
            padding: 5px 20px;
            color: white;
            display: inline-block;
            max-width: 80%;
            &_text {
                width: 100%;
                letter-spacing: 0;
                float: left;
                font-size: 1.1em;
                word-wrap: break-word;
            }
        }
    }
}
.pr {
    padding-right: 10px;
}
.pl {
    padding-left: 10px;
}
.jS {
    justify-content: flex-start;
}

.jE {
    justify-content: flex-end;
}
.back1 {
    background: #4a5459;
}
.back2 {
    background: #f3f3f3;
}
.c1 {
    color: white;
}

.c2 {
    color: #353535;
}
