@import "../../styles/responsive";

.chat {
    width: 100%;
    height: 100vh;
    display: flex;

    @media #{$mobile_device} {
        display: block;
    }

    &_main {
        width: 80%;
        height: 100%;
        @media #{$mobile_device} {
            width: 100%;
            height: 100vh;
        }

        &_top {
            width: 100%;
            height: 10%;
            display: flex;
            background: #7f8c8d;
            background: #4a5459;
            align-items: center;
            justify-content: space-between;
            color: #ecf0f1;
            @media #{$mobile_device} {
                height: 60px;
            }
            &_room {
                margin-left: 5%;
                display: flex;

                @media #{$tab} {
                    &_b {
                        margin-right: 20px;
                        margin-top: 5px;
                        cursor: pointer;
                        &_1,
                        &_2,
                        &_3 {
                            width: 35px;
                            height: 3px;
                            background-color: #ecf0f1;
                            margin: 5px 0;
                        }
                    }
                }
                @media #{$screen} {
                    &_b {
                        display: none;
                    }
                }
                &_n {
                    font-size: 30px;
                    font-weight: bold;
                    @media #{$tab} {
                        font-size: 25px;
                    }
                }
                svg {
                    margin-top: 14px;
                    width: 20px;
                    height: 20px;
                    fill: #27ae60;
                    margin-right: 10px;
                    @media #{$tab} {
                        margin-top: 8px;
                    }
                }
            }
            &_close {
                margin-right: 5%;
                display: block;
                margin-top: -7px;
                a {
                    text-decoration: none;
                    color: #ecf0f1;
                    font-size: 30px;
                    margin-top: -30px;
                    &:hover {
                        color: #bdc3c7;
                    }
                }
            }
        }
        &_bottom {
            height: 90%;
            width: 100%;
            @media #{$mobile_device} {
                height: 93vh;
            }
        }
    }
}
